.work {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
}

.work__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: 0.3s;
}

.work__item:hover {
    color: var(--primary-color);
}

.work__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work__card {
    position: relative;
    overflow: hidden;
}

.work__mask {
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__mask {
    opacity: 0.75;
}

.work__category {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: 0.3s;
}

.work__title {
    color: var(--text-color-light);
    font-size: var(--h4-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__title,
.work__card:hover .work__category {
    opacity: 1;
    transform: translateY(0);
}